<a href="https://colab.research.google.com/github/seyyah/7688-fpv-rccar/blob/master/dnn/intro_to_pandas_ME.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to pandas

## Basic Concepts

In [1]:
from __future__ import print_function

import pandas as pd
pd.__version__

'1.0.3'

In [3]:
city_names = pd.Series(['San Francisco', 'San Jose', 'Sacramento'])
population = pd.Series([852469, 1015785, 485199])

pd.DataFrame({ 'City name': city_names, 'Population': population })

       City name  Population
0  San Francisco      852469
1       San Jose     1015785
2     Sacramento      485199